on:
  release:
      types: [published]

jobs:
  testing-action:
    runs-on: ubuntu-latest
    name: Action Test
    steps:
      - name: Hit KDP
        id: KDP
        uses: andikanugr/hit-kdp-action@v1.0.11
        with:
          service: 'hit-kdp-action'
        env:
          REPO: 'hit-kdp-action'
          OWNER: 'andikanugr'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

